@charset "UTF_8";

@media screen and (min-width: 641px) and (max-width: 768px){
    div.logo > img{
        position: relative;
        width: 61%;
        top: 180px;
        left: 142px;
    }
    
    div.video > a > img{
        width: 81vw;
    }

    div.date{
        position: relative;
        left: 70px;
        width: 81vw;
    }

    div.main-share{
        display: flex;
        flex-direction: row;
    }
    div.share{
        margin-top: 25px;
        margin-right: 30px;
    
    }

    
}
    