@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

header{
    position: fixed;
    display: flex;
    height: 65px;
    width: 1890px;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding-left: 15px;
}

header div h1{
    font-size: 1.5em;
}

main > h1{
    font-size: 2em;
    font-weight: 400;
}

a{
    text-decoration: none;
    cursor: pointer;
}

#free{
    color: gray;
}

#free:hover{
    color: white
}

#green{
    font-size: 0.7em;
    padding: 2px;
    border-radius: 3px;
    color: black;
    background-color: var(--color-green);
}
#green:hover{
    color: white;
    background-color: #248C46;
}
nav{
    position: relative;
    top: 20px;
}

.standard{
    color: white;
    background-color:#444857;
    margin-right: 10px;
    padding: 12px;
    border-radius: 4px;
}

.standard:hover{
    background-color: #5A5F73;
}

#emoji{
    padding-left: 16px;
}

#sign-up{
    color: black;
    margin-right: 10px;
    border-radius: 4px;
    padding: 12px;
    background-color: var(--color-green);
}
#sign-up:hover{
    background-color: #248C46;
}
main{
    background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url('https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 1652px;
    text-align: center;
    color: white;
}
main > h1{
   padding-top: 100px;
}

div#container{
    margin: 40px auto;
    width: 700px;
    background-color: #272846;
    padding: 20px;
    border-radius: 5px;
}

form{
    display: block;
    text-align: left;
}

div.form-group{
    padding: 20px 0px 13px 20px;
    font-size: 1.1em;
}

.form-control{
    display: block;
    width: 630px;
    height: 22px;
    padding: 0.375rem 0.75rem;
    margin-top: 5px;
    border-radius: 6px;
    font-size: medium;
    font-weight: bold;
    color: #495057;
}

.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}

.select-option{
    width: 657px;
    height: 36px;
    padding: 0.375rem 0.75rem;
    margin-top: 5px;
    border-radius: 6px;
    font-size: medium;
    font-weight: bold;
    color: #495057;
}

.select-option > option{
    font-family: 'Poppins', sans-serif;
}

.select-option:focus{
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}

.radio{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    
}

.clue {
    margin-left: 0.25rem;
    font-size: 0.9rem;
    color: #e4e4e4;
  }

.input-radio{
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
    transform: translateY(3px);
}
.input-checkbox {
    margin-right: 0.625rem;
    margin-bottom: 12px;
    min-height: 1.25rem;
    min-width: 1.25rem;
    transform: translateY(3px);
}

.input-textarea {
    margin-top: 10px;
    height: 110px;
    width: 94%;
    padding: 0.625rem;
    resize: vertical;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

.submit-button{
    background-color: #37af65;
    width: 661px;
    height: 42px;
    margin-bottom: 25px;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: large;
    cursor: pointer;
}








