@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

div > p{
    display: none;
}
div:hover > p{
    display: block;
    width: 200px;
    background-color: red;
}
div{
    display: inline-block;
    background-color: lightgrey;
    text-align: center;
    height: 200px;
    width: 200px;
    border: 1px solid black;}

div > p.play:hover{
    background-color: blue;
}
div > p.xbox:hover{
    background-color: green;
}
